<div
  class="bg-white rounded-lg border border-gray-400 inline-flex p-2 gap-2 select-none"
>
  {{ with resources.Get "images/profile_pic_3.png" }}
    {{ with .Resize "128x png q75" }}
    <img
      src="{{ .Permalink }}"
      alt="Profile Pic"
      class="w-10 h-10 rounded-full"
    />
    {{ end }}
  {{ end }}
  <div class="space-y-1">
    <p class="font-medium text-gray-500">
      <span class="text-black">Jean Baguette de Croissant</span>・16h24
    </p>
    <p class="text-gray-800 font-light">
      {{ i18n "linkedin_message_1" . }}
    </p>
    <p class="text-gray-800 font-light">
      {{ i18n "linkedin_message_2" }}
    </p>
  </div>
</div>
