<div
  class="bg-white rounded-lg border border-gray-400 inline-flex p-2 gap-2 select-none"
>
  <img
    src="https://static.wikia.nocookie.net/33b59418-5a0a-49aa-94ee-8f54e198a18c"
    alt="Profile Pic"
    class="w-10 h-10 rounded-full"
  />
  <div class="space-y-1">
    <p class="font-medium text-gray-500">
      <span class="text-black">Jean Baguette de Croissant</span>・16h24
    </p>
    <p class="text-gray-800 font-light">
      This meeting could have been an email...
    </p>
    <p class="text-gray-800 font-light">I could have eaten my croissant !!</p>
  </div>
</div>
