<footer class="flex justify-center mt-64 mb-8">
  <div class="flex sm:flex-row flex-col sm:justify-between w-full gap-16">
    <!-- Logo -->
    {{ partial "logo.html" }}
    <a href=""></a>
    <a href="https://www.linkedin.com/company/tawkie/"></a>
    <!-- Links -->
    <div class="grid sm:grid-cols-3 gap-8">
      <div class="space-y-2">
        <h4 class="text-xl font-medium text-brand-yellow block">
          {{ i18n "footer_links" . }}
        </h4>
        <a href="{{ i18n "alpha_button_url" . }}" target="_blank" class="text-gray-300 hover:text-white block">
          {{ i18n "alpha_signup" . }}
        </a>
        {{ $faqPage := .Site.GetPage "section" "faq" }}
        <a href="{{ $faqPage.Permalink }}" class="text-gray-300 hover:text-white block">
          {{ i18n "footer_faq" . }}
        </a>
      </div>
      <div class="space-y-2">
        <h4 class="text-xl font-medium text-brand-yellow block">
          {{ i18n "footer_legal" . }}
        </h4>
        <!--
        <a href="#" class="text-gray-300 hover:text-white block">
          {{ i18n "footer_terms" . }}
        </a>
        -->
        {{ $legalPage := .Site.GetPage "section" "legal" }}
        <a href="{{ $legalPage.Permalink }}" class="text-gray-300 hover:text-white block">
          {{ i18n "footer_legal" . }}
        </a>
      </div>
      <div class="space-y-2">
        <h4 class="text-xl font-medium text-brand-yellow">
          {{ i18n "footer_contact" . }}
        </h4>
        <a
          href="mailto:contact@tawkie.fr"
          class="text-gray-300 hover:text-white block"
        >
          contact@tawkie.fr
        </a>
        
      </div>
      <p class="text-gray-500 ">
        {{ i18n "footer_google" . }}
      </p>
      <p class="text-gray-500">
        {{ i18n "footer_apple" . }}
      </p>
    </div>
  </div>
</footer>
