<!DOCTYPE html>
<html lang="{{ .Lang }}" prefix="og: https://ogp.me/ns#">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{ i18n "meta_title" }}</title>
    <meta name="description" content="{{ i18n "meta_description" }}" /> <meta
    name="keywords" content="{{ i18n "meta_keywords"}}" /> <meta
    name="og:site_name" content="{{ i18n "meta_title" }}"> <meta
    name="og:description" content="{{ i18n "meta_description" }}">
    <meta name="og:type" content="website" />
    <!-- <meta name="og:image" content="{{ .Site.BaseURL }}logo.png"> -->
    <meta name="og:url" content="{{ .Page.Permalink }}" />
    <meta name="og:locale" content="{{ .Lang }}" />
    {{ range .Translations }}
    <meta name="og:locale:alternate" content="{{ .Lang }}" />
    {{ end }}
    <!-- <link rel="stylesheet" href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css"/> -->
    {{ $css := resources.Get "css/index.css" | resources.Fingerprint "md5" }}
    <link rel="stylesheet" href="{{ $css.Permalink }}" />
  </head>
  <body
    class="bg-[#18181A] container"
    style="font-family: 'Source Sans Pro', sans-serif"
  >
    <!-- Nav -->
    <nav class="h-20 flex items-center justify-between bg-[#18181A]">
      {{ partial "logo.html" }}
      <div class="space-x-8 hidden sm:block">
        <a href="#" class="text-xl text-gray-400 hover:text-white">Home</a>
        <a href="#" class="text-xl text-gray-400 hover:text-white">Le projet</a>
        <a href="#" class="text-xl text-gray-400 hover:text-white">
          Notre équipe
        </a>
      </div>
    </nav>
    <!-- Hero -->
    <div
      class="flex items-center lg:flex-row flex-col py-20 space-y-8 sm:space-y-20"
    >
      <div class="space-y-10">
        <!-- Text -->
        <div class="space-y-5">
          <!-- Pill -->
          <div
            class="flex w-fit mx-auto lg:mx-0 items-center gap-2 px-5 py-1 text-white bg-brand-purple-alt rounded-full"
          >
            <p class="text-sm lg:text-lg font-medium">
              Suis la campagne sur Kickstarter
            </p>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="h-5 w-5"
            >
              <path d="M5 12h14" />
              <path d="m12 5 7 7-7 7" />
            </svg>
          </div>
          <h1
            class="text-brand-yellow text-5xl md:text-7xl lg:text-7xl xl:text-9xl font-bold lg:text-left text-center"
          >
            All-in-one messaging
          </h1>
          <p
            class="text-brand-orange text-2xl lg:text-3xl font-medium max-w-lg lg:max-w-none lg:text-left text-center lg:mx-0 mx-auto"
          >
            Tous vos messages réunis sur une application et bien plus encore
          </p>
        </div>
        <!-- Buttons -->
        <div class="space-x-6 lg:text-left text-center">
          <a
            href="#"
            class="inline-flex bg-white hover:bg-gray-200 transition-colors text-black px-4 py-3 rounded-md text-lg"
          >
            Découvrir Tawkie
          </a>
        </div>
        <p
          class="text-gray-300 max-w-sm lg:max-w-none lg:text-left text-center lg:mx-0 mx-auto"
        >
          Prévu sur Windows, MacOS, Linux, Android, IOS et navigateur
        </p>
      </div>
      <div class="flex sm:w-full justify-center sm:scale-100 scale-[65%]">
        {{ partial "phone.html" . }}
      </div>
    </div>
    <!-- Section -->
    <div class="mt-32 min-h-screen space-y-28">
      <h2
        class="text-4xl md:text-5xl font-medium text-brand-yellow text-center mx-auto max-w-3xl"
      >
        Une gestion efficace de toutes vos communications
      </h2>
      <div class="flex flex-col md:flex-row gap-24">
        <div class="w-full">
          <h3 class="text-brand-orange text-3xl">
            Naviguez facilement entre vos messages
          </h3>
          <p class="mt-5 text-gray-300 text-xl">
            Oubliez les applications multiples, avec Tawkie vous pouvez accéder
            à tous vos messages en un seul endroit
          </p>
        </div>
        {{ $image := resources.Get "images/undraw_search_app_oso2.svg" }}
        <img
          src="{{ $image.Permalink }}"
          alt="Undraw Image"
          class="w-full text-brand-purple-alt"
        />
      </div>
      <div class="flex flex-col-reverse md:flex-row gap-24 mt-24">
        {{ $image := resources.Get "images/undraw_mindfulness_8gqa.svg" }}
        <img
          src="{{ $image.Permalink }}"
          alt="Undraw Image"
          class="w-full text-brand-purple-alt"
        />
        <div class="w-full">
          <h3 class="text-brand-orange text-3xl">Gagnez en sérénité</h3>
          <p class="mt-5 text-gray-300 text-xl">
            Restez concentré·e sur vos échanges en évitant les distractions
            inutiles
          </p>
        </div>
      </div>
    </div>
    <!-- Footer -->
    <footer class="flex justify-center mt-64 mb-8">
      <div class="flex sm:flex-row flex-col sm:justify-between w-full gap-16">
        <!-- Logo -->
        {{ partial "logo.html" }}

        <!-- Links -->
        <div class="grid sm:grid-cols-3 gap-8">
          <div class="space-y-2">
            <h4 class="text-xl font-medium text-brand-yellow block">Tawkie</h4>
            <a href="#" class="text-gray-300 hover:text-white block">
              Le projet
            </a>
            <a href="#" class="text-gray-300 hover:text-white block">
              Notre équipe
            </a>
          </div>
          <div class="space-y-2">
            <h4 class="text-xl font-medium text-brand-yellow block">Légal</h4>
            <a href="#" class="text-gray-300 hover:text-white block">Terms</a>
            <a href="#" class="text-gray-300 hover:text-white block">Privacy</a>
          </div>
          <div class="space-y-2">
            <h4 class="text-xl font-medium text-brand-yellow">Contact</h4>
            <a
              href="mailto:contact@tawkie.fr"
              class="text-gray-300 hover:text-white block"
            >
              Nous contacter
            </a>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
